<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<table>
    <tr>
        <td><label for="username">Username</label></td>
        <td><input type="text" id="username" name="username" th:value="*{profile.getName()}"></input></td>
    </tr>

    <tr>
        <td><label for="email">Email</label></td>
        <td><input type="text" id="email" name="email" th:value="*{profile.email}"></input></td>
    </tr>
</table>
</body>
</html>